#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  background-color: #74ebd5;
  background-image: linear-gradient(98deg, #74ebd5 0%, #9face6 100%);
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(149, 230, 199, 1) 100%
  );
  border-radius: 1rem;
  margin: 1rem 0;
}

.container-geo {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  /* margin: 0 2rem; */
  margin-top: 1rem;
}
.city {
  font-size: 4rem;
}

.temperature {
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: start;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  /* margin: 0 2rem; */
  margin-top: 1rem;
}

.date-border {
  /* border: solid 0.5px black; */
  width: 100%;
  height: 100%;
  padding: 0.2rem;
  /* word-break:normal */
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 150px;
  height: 150px; */
  font-size: 6rem;
  /* margin: 0 2rem; */
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 1rem;
}

.time-border {
  /* border: solid 1px rgb(244, 239, 239); */
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
}

p {
  display: inline-block;
  line-height: 1em;
  margin: 0;
}

.time p {
  color: white;
}
.hour {
  /* background-color: black; */
  margin-left: 0.5rem;
}
.minute {
  /* background-color: black; */
}
.second {
  /* background-color: black; */
  margin-right: 0.5rem;
}

.selectCity {
  width: 200px;
  padding: 0.3em;
  margin: 1rem;
}

.searchCity {
  width: 200px;
  padding: 0.3em;
  margin: 1rem;
}

.container-search {
  display: flex;
  text-align: start;
  margin: 0 0;
  background: none;
}


.container-select {
  display: flex;
  /* text-align: start; */
  align-items: center;
  

}

/* .container-select button{
 height: 1rem;
} */

.title {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: azure;
  border-radius: 1rem;
  margin-top: 1rem;
}
